<%=console if Rails.env == "development"%>
<%=render 'shared/errors'%>
<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <%if !current_user.friend?(user) &&  current_user != user && !pending_friend?(user) %>
              <%= link_to 'Send Friend Request',  friendships_path(friend_id:user.id), class: 'btn btn-primary', method:"post" %>
            <%elsif current_user != user && !current_user.friends  %>
             <a href="#" class="btn btn-secondary  disabled" role="button" aria-disabled="true">Pending</a>
          <%end%>
        </span>
      </li>
    <% end %>
  </ul>
</section>
